// color palette - these colors will be the color swatches of the Colors section

$color-1: #756858; // Dark tan
$color-2: #0D1F2D; // Dark Navy
$color-3: #550527; // Red
$color-4: #A6988D; // light tan
$color-5: #D4CAC4; // lighter tan

// additional colors

$success: white; // green
$alert: $color-3; // red