@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Nunito:wght@200&family=Playfair+Display&display=swap');
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/nav';
@import 'partials/buttons';
@import 'partials/images';



/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-2;
  font-family: $p-font;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

@import 'partials/basic-style';
